<!DOCTYPE html>
<html>
  <head>
    <title>Flask</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
    <header>
      <div class="container">
        <h1>Recommendations:</h1>
      </div>
    </header>

    <div class="container">
      <div>
        {% for value in results %}
        <div style="margin-bottom:15px;border: 5px solid red">
          <p>title: <span>{{ value.title }}</span></p>
          <p>description: <span>{{ value.description }}</span></p>
          <p>author: <span>{{ value.author }}</span></p>
          <p>category: <span>{{ value.category }}</span></p>
          <img src="{{ value.book_image }}" alt="{{ value.title }}"><
        </div>
        {% endfor %}
      </div>
    </div>
  

  </body>
</html>